/*!Convertido de ".scss" a ".css"*/
$colorP: gray;
$colorS: #D0CEBA;
$colorT: white;

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: #{$colorS};
}

span, h1, h2, .mayus{
    text-transform: uppercase;
}

h3{
    font-weight: normal;
}

header{
    width: 100%;
    background-color: #{$colorP};
    margin-bottom: 2.2%;

    img{
        margin-left: 15px;
        width: 4vh;
    }

    h1{
        display: inline-block;
        color: white;
        margin: 10px 0;
    }
}

main{
    display: flex;
    background-color: #{$colorS};
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.1%;

    .pokemon{
        
        text-align: center;
        width: 40vw;

        .namePokemon{
            width: 70%;
            background-color: white;
            padding: 3px;
            margin: 0 auto;
            border-radius: 15px;

            h2{
                display: inline-block;
            }
            .imgType{
                width: 3vw;
            }
        }

        .imgPokemon{
            width: 65%;
        }
    }

    .infoPokemon{
        background-color: white;
        padding: 25px 20px;
        width: 25vw;
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, 50%);
        border-radius: 15px;

        .power, .level, .type, .hability, .height, .weight{
            text-align: center;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    .footer{
        background-color: white;
        width: 100%;
        display: flex;
        padding: 5px 0;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        h3{
            text-transform: uppercase;
            display: inline-block;
            padding-right: 55px;
        }
    
        img{
            width: 80px;
            margin: 10px 20px;
            opacity:0.7;
        }
    
        img:hover{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px){
    
    header{
        margin-bottom: 10px;
        text-align: center;

        img{
            width: 3vh;
        }
    
        h1{
            margin: 5px 0;
            font-size: 25px;
        }

    }

    main{
        flex-direction: column;
        margin-bottom: 24px;

        .pokemon{
            width: 40vw;
            z-index: 2;
            margin: 0 auto;
            .namePokemon{
                width: 100%;
                margin: 0 auto;
                border-radius: 15px;
                padding: 0; 

                h2{
                    display: inline-block;
                    font-size: 16px;
                }
                .imgType{
                    width:10%;
                }
            }

            .imgPokemon{
                width: 90%;
                margin-bottom: 7px;
            }
        }
        .infoPokemon{ 
            width: 65vw;
            max-height: 420px;
            margin: 0 auto;
            margin-top: -50px;
            grid-template-columns: none;
            justify-items: left;
            padding: 15px 10px;

            span{
                font-display: 8px;
            }

            h3{
                display: inline-block;
                font-size: 13px;
            }

            .power{
                h3{
                    margin-left: 25px;
                }
            }

            .level{
                h3{
                    margin-left: 30px;
                }
            }

            .type{
                h3{
                    margin-left: 40px;
                }
            }

            .hability{
                h3{
                    margin-left: 5px;
                }
            }

            .height{
                h3{
                    margin-left: 20px;
                }
            }

            .weight{
                h3{
                    margin-left: 16px;
                }
            }
        }
    }
    
    footer{
        max-height: -40px;

        .footer{
            h3{
                padding-right: 0;
                font-size: 17px;
            }
            img{
                width: 14%;
                margin: 5px 30px;
            }
        }
    }
}



@media screen and (max-width: 700px) and (min-width: 450px){
    main{
        .pokemon{
            width: 25vw;
        }
        .infoPokemon{
            width: 60%;
        }
    }
}